<!DOCTYPE html>
<html>

<head>
    <title>Bilservice</title>
    <link href="/css/meyer-reset.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Source+Sans+Pro:600" rel="stylesheet">
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <a href="/">
                <img class="logo" src="/img/logo-white.png" alt="Bilservice">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a href="/service">Bilservice</a>
                    </li>
                    <li>
                        <a href="/verkstad">Verkstäder</a>
                    </li>
                    <li class="dropdown">
                        <a href="/modeller">Bilmodeller</a>
                        <ul>
                            <li>
                                <a href="/modell/audi">Audi</a>
                            </li>
                            <li>
                                <a href="/modell/bmw">BMW</a>
                            </li>
                            <li>
                                <a href="/modell/volvo">Volvo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/priser">Priser</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <main class="main wrapper clearfix">
            {{{body}}}
        </main>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>bilservice.me</h3>
            <p>En sida om bilservice</p>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>