<!DOCTYPE html>
<html>

<head>
    <title>Bilservice</title>
    {{!-- <link rel="stylesheet" href="/css/meyer-reset.css"> --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <img class="title" src="/img/logo.png" alt="Bilservice">
            <nav>
                <ul>
                    <li>
                        <a href="#">Hem</a>
                    </li>
                    <li>
                        <a href="#">Bilservice</a>
                    </li>
                    <li>
                        <a href="#">nav ul li a</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">
            {{{body}}}
        </div>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>footer</h3>
        </footer>
    </div>
</body>

</html>