<!DOCTYPE html>
<html>

<head>
    <title>Bilservice</title>
    {{!-- <link href="/css/meyer-reset.css" rel="stylesheet"> --}}
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> 
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <img class="title" src="/img/logo-white.png" alt="Bilservice">
            <nav>
                <ul>
                    <li>
                        <a href="#">Hem</a>
                    </li>
                    <li>
                        <a href="#">Bilservice</a>
                    </li>
                    <li>
                        <a href="#">nav ul li a</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">
            {{{body}}}
        </div>
    </div>

    <div class="footer-container">
        <footer class="wrapper">
            <h3>footer</h3>
        </footer>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>