<article>
    <header>
        <h1>Kostnad för bilservice beror på bilmodell</h1>
        <p>
            Kostnaden för bilservice kan skilja 5 gånger mellan två olika bilmodeller.</p>
    </header>
    <section>
        <p>
            Ofta är de dyrare större bilmodellerna av BMW, Audi och Mercedes betydligt dyrare att göra en 6000 milaservice på jämfört
            med små japanska och europeiska bilar. </p>
        <p>

            Det som är viktigt är att ni innan bilservicen är genomför fått kostnadsförslag hos ett par olika bilverkstäder så att ni
            ser om kostnaderna är rimliga.</p>
    </section>
</article>

<aside>
    <h3>Modeller:</h3>
    <ul class="list-links">
        <li>
            <a href="/modell/audi">Audi</a>
        </li>
        <li>
            <a href="/modell/bmw">BMW</a>
        </li>
        <li>
            <a href="/modell/volvo">Volvo</a>
        </li>
    </ul>
</aside>