<article>
    <header>
        <h1>Timpriser för bilservice</h1>
        <p>
            Timpriser för bilservice variera ganska mycket överlandet och mellan olika stora och mindre bilverkstäder. Förenklat kan
            man säga att ju större stad ju högre timpris för bilservicen. Dessutom är timpriserna för bilservicen på en stor
            bilverkstad ofta högre än hos en liten bilmekaniker.
        </p>
    </header>
    <section>
        <p>Det är dock inte bara timpriserna som är viktiga eftersom många av de större verkstadskedjorna som Meca och Mekonomen
            har satt fast pris på vissa typer av service. Detta kan jämföras med att ta in hantverkare på fast pris vilket
            innebär att men vet vad det kostar men att bilverkstan har ökat priser normalt sett för att inte ta någon risk.</p>
    </section>
    <section>
        <h2>Ungefärliga timpriser för bilservice</h2>
        <p>Det är svårt att jämföra kostnaden för bilservice genom att bara titta på timpriser. Vissa bilverkstäder saltar antalet
            timmar och andra bilmekaniker anger bara arbetskostnaden för bilservicen eller reparationen utan att definiera
            antalet timmar.</p>
    </section>
    <section>
        <button class="prices-btn">
            <span class="show-text">Visa</span>
            <span class="hide-text">Dölj</span>
            <span>Prislista</span>
        </button>
    </section>
</article>

<aside class="prices">
    <h3>Prislista</h3>
    <ul id="prices">
    </ul>
</aside>