<article>
    <header>
        <h1>Skillnader mellan Auktoriserad och Fristående bilverkstäder</h1>
        <p>Det finns två typer av bilverkstäder som du kan göra din bilservice på.</p>
        <ul>
            <li>Bilservice hos auktoriserade bilverkstäder även kallade märkesverkstäder</li>
            <li>Bilservice på fristående bilverkstäder och hos fristående bilmekaniker.</li>
        </ul>

    </header>
    <section>
        <p>Det finns för- och nackdelar att göra bilservicen hos båda dessa typer av verkstäder. Det finns inte längre krav
            på att du ska göra bilservicen på en auktoriserad bilverkstad för att din nybilsgaranti ska gälla. Mer om
            <a href="http://www.konsumentverket.se/Nyheter/Nyhetsarkiv/Nyhetsarkiv-2012/Auktoriserad-verkstad-inget-krav-for-att-nybilsgarantin-ska-galla/">krav för bilservicen finns att läsa hos Konsumentverket</a>.
        </p>
        <p>När du bokar tid för bilservicen ska du kolla om det ingår en lånebil eller om de kan fixa en
            <a href="http://www.biluthyrning.eu" title="Lånebil brukar ingå när du gör bilservice de första åren på en märkesverkstad">hyrbil</a> till dig.
        </p>
    </section>

    <section>
        <h2>Bilservice hos auktoriserade bilverkstäder</h2>
        <p>Varför ska du gå till en auktoriserad märkesverkstad?</p>

        <h3>Fördelar med bilservice på märkesverkstaden</h3>
        <p>De främsta fördelarna med att göra bilservicen hos en auktoriserad bilverkstad är:</p>
    <ul>
                    <li>Har ett avtal med biltillverkaren eller bilimportören.</li>
                    <li>Använder alltid originaldelar som distribuerats via leverantören vid bilservice och bilreparationer.</li>
                    <li>Följer alltid Allmänna reklamationsnämndens, ARN, utslag.</li>
                    <li>Personalen är specialutbildad på din bilmodell.</li>
                    <li>De använder biltillverkarnas diagnosverktyg och specialverktyg</li>
                </ul>

    </section>
    <section>
        <h3>Nackdelar med bilservice på märkesverkstaden</h3>
                <p>Några av nackdelarna att låta en märkesverkstad göra din bilservice är:</p>
                <ul>
                    <li>Är normalt sett dyra på bilservice och bilreparationer.</li>
                    <li>Ibland är väntetiderna mycket långa innan det finns plats för dig.</li>
                </ul>
    </section>

    <section>
        <h2>Bilservice på fristående bilverkstäder</h2>
        <p>Varför ska du gå till en fristående bilverkstad?</p>

         <h3>Fördelar med bilservice hos fristående bilmekaniker</h3>
                <p>Fördelarna med att gå till en oberoende bilmekaniker är:</p>
                <ul>
                    <li> Är inte kopplade till att specifikt bilmärke vilket gör att det finns många fristående bilmekaniker och några finns nära dig</li>
                    <li>Får och använder mycket billigare reservdelar vid bilservice och reparationer som ibland är identiska med reservdelarna som biltillverkaren använder.</li>
                    <li>Har nästan alltid eller lägre eller betydligt lägre pris för bilservicen.</li>
                </ul>
    </section>

    <section><h3>Nackdelar med bilservice hos fristående bilmekaniker</h3>
                <p>
                    De främsta nackdelarna med att göra bilservicen hos en fristående bilmekaniker är:
                </p>
                <ul>
                    <li>Det är inte säkert att alla reservdelarna är av lika bra kvalité som originaldelarna. </li>
                    <li>Måste inte följa Allmänna reklamationsnämndens rekommendationer</li>
                </ul>
                </section>
</article>

<aside class="img-aside">
    <img src="/img/service-6.jpg">
</aside>
