<article>
    <header>
        <h2>Audi</h2>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias deleniti odit beatae. Ipsam modi quae repellat nesciunt
            autem pariatur, suscipit voluptas eligendi tenetur eaque? Ipsam officia tempore delectus asperiores rerum. 
        </p>
    </section>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit odio, rerum, tempore perferendis aperiam incidunt soluta at, libero reiciendis voluptatibus eveniet ex necessitatibus. Ipsum aliquam omnis necessitatibus obcaecati perspiciatis.
        </p>
    </section>
</article>